.login{
  position: relative;
  height: 100vh;
  padding: 1.5rem;
}

.logo{
  position: absolute;
  top: 1rem;
  left: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.login > span{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: oblique;
  text-decoration: line-through;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 600px;
  padding: 1rem 1.5rem;
}

.content > form{
  width: 100%;
  display: flex;
  flex-direction: column;
}

input{
  background: transparent;
}

.email{
  margin-bottom: 3rem;
}

.recover{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 0.4rem;
}

.recover > span{
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.content > form > button{
  background: var(--bg2);
  color: var(--text1);
  height: 3.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  opacity: 0.8;
  border-radius: 0.5rem;
  padding: 0 0.8rem;
  margin-top: 1.5rem;
}

.content > form > button:hover{
  opacity: 0.7;
}

.goggle{
   background: var(--bg2);
   width: 100%;
   height: 3.5rem;
   color: var(--text1);
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.5rem;
   font-size: 1.2rem;
   font-weight: 500;
   border-radius: 0.5rem;
   padding: 0 0.8rem;
   margin: 2.5rem 0 1rem;
}

.goggle > img{
  width: 2rem;
  height: 2rem;
}

.password{
  margin: 3rem 0;
}

.register{
  width: fit-content;
  margin: auto;
  cursor: pointer;
}

.register:hover{
  opacity: 0.8;
}

mat-hint{
  opacity: 0.6;
}