<div class="login">
  <img src="/assets/images/logo.png" alt="logo" [routerLink]="['/']" class="logo"/>
  <div class="content">
    <form [formGroup]="loginForm" (submit)="loginUser()">
      <mat-form-field class="email">
        <mat-label>Email</mat-label>
        <input formControlName="emailAddressOrUserName" matInput placeholder="me@mail.com">
        <mat-icon matSuffix>mail</mat-icon>
        <mat-error *ngIf="loginForm.value.emailAddressOrUserName == ''">Username or email required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="loginForm.value.password == ''">Password required</mat-error>
      </mat-form-field>
      <div class="recover">
        <span><input type="checkbox" [checked]="rememberMe" (change)="handleCheckbox()"/> Remember Me</span>
        <span [routerLink]="['/password-recovery']" class="reset">Forgot Password?</span>
      </div>
      <button type='submit' [disabled]="loginForm.invalid">Login</button>
    </form>
    <button disabled (click)="loginWithGoggle()" class="goggle"><img src="/assets/images/goggle.png" alt="goggle"/> Continue with google</button>
    <p [routerLink]="['/register']" class="register">Don’t have an account? Sign up for free</p>
  </div>
  <span>Rabbi</span>
</div>