<div class="login">
  <img src="/assets/images/logo.png" alt="logo" [routerLink]="['/']" class="logo"/>
  <div *ngIf="reset == 1" class="content animate__animated animate__fadeIn animate__slow">
    <form [formGroup]="recoveryForm" (submit)="sendToken()">
      <mat-form-field class="email">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput [ngModel]="email" placeholder="me@mail.com">
        <mat-icon matSuffix>mail</mat-icon>
        <mat-hint>Enter email address used when registering</mat-hint>
        <mat-error *ngIf="recoveryForm.value.email == ''">Email required</mat-error>
      </mat-form-field>
      <button type='submit' (click)="sendToken()" [disabled]="recoveryForm.invalid">Send reset token</button>
    </form>
    <p [routerLink]="['/login']" class="register">Remember password? Login</p>
  </div>

  <div *ngIf="reset == 2" class="content animate__animated animate__fadeIn animate__slow">
    <p class="mail">Enter the reset token sent to {{maskMail(email)}}</p>
    <code-input [isCodeHidden]="true" [codeLength]="5" (codeCompleted)="validateToken($event)"></code-input>
    <p *ngIf="resend" class="timer token" (click)="resendToken()">resend</p>
    <p *ngIf="!resend" class="timer">Resend in <span>{{countDown}}</span></p>
    <p class="resend">Didn't get the OTP? <span (click)="resendToken()">Click here to resend</span></p>
  </div>

  <div *ngIf="reset == 3" class="content animate__animated animate__fadeIn animate__slower">
    <form [formGroup]="resetForm" (submit)="resetPassword()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="me@mail.com">
        <mat-icon matSuffix>mail</mat-icon>
        <mat-error *ngIf="resetForm.value.email == ''">Email required</mat-error>
        <mat-error *ngIf="resetForm.get('email')?.hasError('invalidEmail')">Email address invalid</mat-error>
      </mat-form-field>

      <mat-form-field class="password">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint>Must be at least 8 characters long, contain at least one upper and lowercase letters, special character and number.</mat-hint>
        <mat-error *ngIf="resetForm.value.password == ''">Password required</mat-error>
        <mat-error *ngIf="resetForm.get('password')?.hasError('invalidPassword')">Password invalid</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input formControlName="confirmPassword" matInput [type]="hide1 ? 'password' : 'text'" placeholder="Confirm Password">
        <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="resetForm.value.password !== '' && resetForm.value.confirmPassword == ''">
          Confirm password required
        </mat-error>
        <mat-error *ngIf="resetFormControl?.['confirmPassword']?.errors?.['passwordMatchError'] && resetForm.value.password !== '' && resetForm.value.confirmPassword !== ''">
          Password does not match
        </mat-error>
      </mat-form-field>

      <button type='submit' (click)="resetPassword()" [disabled]="resetForm.invalid">Reset password</button>
    </form>
  </div>
  <span>Rabbi</span>
</div>