.image{
  background: var(--bg1);
  width: 100%;
  height: 33rem;
}

.url{
  width: 100%;
  height: 100%;
  max-width: 43.75rem;
  display: flex;
  margin: auto;
}

.publish{
  background: var(--publish);
  color: #000;
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0 0 0.5rem 0;
  padding: 0.55rem;
}

.content{
  padding: 1.5rem;
}

.title{
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 2rem 0;
}

.title > span{
  color: var(--publish);
  font-size: 1.3rem;
  font-style: oblique;
}

.quotes{
  font-style: italic;
}

.read{
  padding: 2.5rem 1.5rem 0;
}

.read > p{
  color: var(--publish);
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.read > span{
  color: red;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  opacity: 0.8;
  margin-top: 5rem;
}

strong{
  color: var(--publish);
  font-size: 1.2rem;
  font-style: italic;
  opacity: 1;
  cursor: pointer;
}

strong:hover{
  opacity: 0.8;
}