<div *ngIf="!previewNow" class="editor">
  <blog-header></blog-header>
  <div class="banner-upload">
    <input type="file" accept="image/*" id="banner-upload" hidden (change)="onImageSelected($event)"/>
    <label for="banner-upload" class="banner-upload-button">
      <img src="/assets/images/upload.png" alt="upload"/>
    </label>
    <span *ngIf="!imageUrl">upload cover banner image</span>
    <img *ngIf="imageUrl" [src]="imageUrl" alt="banner" class="url">
  </div>
  <button [routerLink]="'/user'" class="back"><mat-icon class="arrow">navigate_before</mat-icon>back</button>

  <div class="animate__animated animate__fadeIn animate__slow">
    <!-- styles in typography/dropdown.scss -->
    <div class="dropdown-heading">
      <div class="dropdown-title">Select Post Category</div>
      <div (mouseleave)="show()" class="dropdown-box">
        <span (click)="show()" class="dropdown-category">{{category}} <mat-icon class="arrow animate__animated animate__headShake animate__infinite">expand_more</mat-icon></span>
        <div *ngIf="showOptions" class="dropdown-content">
          <span *ngFor="let option of categories" (click)="select(option)" [ngClass]="option == category ? 'selected' : ''" class="category-list">{{option}}</span>
        </div>
      </div>
    </div>

    <form [formGroup]="contentForm" class="content">
      <span>Post Category - {{category}}</span>
      <textarea formControlName="title" type="text" placeholder="title..." class="text"></textarea>
      <div class="overview">
        <textarea formControlName="overview" type="text" placeholder="overview..." class="text text1"></textarea>
        <label>write a catchy and concise front cover overview</label>
      </div>
      <quill-editor formControlName="content" [modules]="quillConfig" placeholder="start writing..."></quill-editor>
      <button [disabled]="!imageUrl || category == 'Select' || contentForm.invalid" (click)="preview()" class="preview">Preview</button>
    </form>
    <blog-footer></blog-footer>
  </div>
</div>

<blog-blog *ngIf="previewNow" [writePost]="writePost" [preview]="true" [previewContent]="previewContent" (back)="back()"></blog-blog>