<div *ngIf="!previewNow" class="editor">
  <blog-header></blog-header>
  <div class="banner-upload">
    <input type="file" accept="image/*" id="banner-upload" hidden (change)="onImageSelected($event)"/>
    <label for="banner-upload" class="banner-upload-button">
      <img src="/assets/images/upload.png" alt="upload"/>
    </label>
    <img *ngIf="imageUrl" [src]="imageUrl" alt="banner" class="url">
  </div>
  <button [routerLink]="'/user'" class="back"><mat-icon class="circle-icon">navigate_before</mat-icon>back</button>

  <form [formGroup]="contentForm" class="content">
    <textarea formControlName="title" type="text" placeholder="title..." required class="text"></textarea>
    <textarea formControlName="content" type="text" placeholder="Start writing..." required class="text article"></textarea>
  </form>
  <div class="publish">
    <input type="file" accept="image/*" id="image-upload" hidden (change)="handleTextImage($event)"/>
    <label for="image-upload" class="image-upload-button">Upload image</label>
    <button [disabled]="!imageUrl || contentForm.invalid" (click)="preview()">Preview</button>
  </div>
  <blog-footer></blog-footer>
</div>

<blog-blog *ngIf="previewNow" [writePost]="writePost" [preview]="true" [previewContent]="previewContent" (back)="back()"></blog-blog>