.banner-upload{
  position: relative;
  background: var(--bg1);
  width: 100%;
  height: 33rem;
}

.banner-upload-button{
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
  background: #e7e6e6;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.7rem;
}

.banner-upload-button > img{
  width: 1.5rem;
  height: 1.5rem;
}

.url{
  width: 100%;
  height: 100%;
  max-width: 43.75rem;
  display: flex;
  margin: auto;
}

.back{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  border: 0.1px solid var(--button-border);
  border-radius: 0 0 0.5rem 0;
  padding: 0.3rem 0.8rem 0.3rem 0.2rem;
}

.content{
  max-width: 85%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: auto;
  padding: 3rem 1.5rem;
}

.text{
  height: auto;
  min-height: 5rem;
  outline: none;
  font-size: 3rem;
  font-weight: 600;
  resize: none;
  border: 0.1px dotted var(--button-border);
  border-radius: 0.5rem;
  padding: 0.625rem;
}

textarea::-webkit-scrollbar{
  display: none;
}

.read{
  padding: 2.5rem 1.5rem 0;
}

.preview{
  background: #ffa500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  height: 3.5rem;
  max-width: 500px;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0.5rem;
  padding: 0 2rem;
}

.angular-editor .angular-editor-toolbar{
  background: var(--bg1) !important;
  border: 0.0625rem solid var(--button-border) !important;
  border-radius: 0.5rem !important;
}

.angular-editor .angular-editor-toolbar button{
  background: var(--text1) !important;
  color: var(--text) !important;
  border: 0.0625rem solid var(--button-border) !important;
}

.angular-editor .angular-editor-textarea{
  border: 0.0625rem solid var(--button-border) !important;
  border-radius: 0.5rem !important;
}

@media (max-width: 1050px){
  .content{
    max-width: 100%;
  }
}

@media (max-width: 768px){
  .preview{
    width: 100%;
  }
}