<div class="cards">
  <div class="content">
    <div *ngFor="let blog of currentBlogContent" class="card">
      <div class="text">
        <div class="image">
          <img [src]="blog.bannerUrl" alt="img" class="banner">
        </div>
        <h1 class="title">{{blog.title}}</h1>
        <div class="overview">{{blog.overview}}</div>
      </div>
      <div class="buttons">
        <button (click)="readPost(blog.postId)">Read</button>
        <button [disabled]="!isLogin || isLogin && username !== blog.author" (click)="editPost(blog.postId)" class="edit">Edit</button>
        <button [disabled]="!isLogin || isLogin && username !== blog.author" (click)="deletePost(blog.postId)" class="delete">Delete</button>
      </div>
    </div>
  </div>
  <div *ngIf="currentBlogContent" class="paginate">
    <mat-icon *ngIf="currentPage > 1" (click)="navigateBack()" class="icon arrow">chevron_left</mat-icon>
    <span *ngFor="let page of renderPagination()" (click)="handlePageNavigation(page)" [ngClass]="page == currentPage ? 'active' : ''">{{page}}</span>
    <mat-icon *ngIf="currentPage < totalPages" (click)="navigateForward()" class="icon arrow">chevron_right</mat-icon>
    <mat-icon *ngIf="totalPages == 1" class="arrow">chevron_right</mat-icon>
  </div>
</div>