<div class="cards">
  <div class="content">
    <div *ngFor="let blog of currentBlogContent" class="card">
      <img src={{blog.bannerUrl}} class="image" alt="img">
      <p class="title">{{blog.title}}</p>
      <p class="overview">
        <blog-html-to-text [htmlContent]="getFirstThreeLines(blog.overview)"></blog-html-to-text>
      </p>
      <div class="button">
        <button (click)="readPost(blog.postId)">Read</button>
        <button (click)="editPost(blog.postId)" class="edit">Edit</button>
        <button (click)="deletePost(blog.postId)" class="delete">Delete</button>
      </div>
    </div>
  </div>
  <div *ngIf="currentBlogContent" class="paginate">
    <mat-icon *ngIf="currentPage > 1" (click)="navigateBack()" class="circle-icon">chevron_left</mat-icon>
    <span *ngFor="let page of renderPagination()" (click)="handlePageNavigation(page)" [ngClass]="page == currentPage ? 'active' : ''">{{page}}</span>
    <mat-icon *ngIf="currentPage < totalPages" (click)="navigateForward()" class="circle-icon">chevron_right</mat-icon>
  </div>