body{
  --bg: #f6f8fa;
  --bg1: #cbd5e1;
  --bg2: #0E1011;
  --sidebar-bg: #e7e6e6;
  --sidebar-transparent: rgba(231, 230, 230, 0);
  --text: #000;
  --text1: #FFF;
  --text-hover: rgb(30, 30, 30);
  --button-border: rgb(216, 218, 210);
  --upload: #ffa500;
  --publish: #5dba7f;
}

body.dark-theme{
  --bg: #0E1011;
  --bg1: #000;
  --bg2: #f6f8fa;
  --sidebar-bg: rgb(26, 27, 27);
  --sidebar-transparent: rgba(26, 27, 27, 0);
  --text: #FFF;
  --text1: #000;
  --text-hover: rgb(225, 225, 225);
  --button-border: rgb(44, 56, 57);
  --upload: #fed7aa;
  --publish: #86efac;
}