.landing-page{
  position: relative;
}

.background{
  background-color: var(--bg1);
  background-image: url(/assets/images/blog/blog6.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  animation: change 60s infinite ease-in-out;
  padding: 25rem 0;
}

.welcome{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  padding: 1.5rem;
}

.welcome > h1{
  font-size: 1.7rem;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 1rem;
}

.welcome > p{
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0 0 1rem;
}

.down{
  width: 8rem;
  height: 8rem;
  display: flex;
  margin: auto;
  cursor: pointer;
}

.latest{
  color: green;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 4rem 1.5rem 0;
}

@keyframes change{
  0% {
    background-image: url(/assets/images/blog/blog2.png);
  }
  20% {
    background-image: url(/assets/images/blog/blog3.png);
  }
  40% {
    background-image: url(/assets/images/blog/blog4.png);
  }
  60% {
    background-image: url(/assets/images/blog/blog5.png);
  }
  80% {
    background-image: url(/assets/images/blog/blog6.png);
  }
}

@media (max-width: 1050px){
  .background{
    padding: 20rem 0;
  }
  .welcome{
    width: 100%;
  }
  .down{
    display: none;
  }
}