.landing-page{
  position: relative;
  height: 85vh;
  background-color: var(--bg1);
  background-image: url(/assets/images/blog/blog6.png);
  background-repeat: no-repeat;
  background-size: cover;
  // background-blend-mode: screen;
}

.welcome{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1.5rem;
}

.down{
  width: 6rem;
  height: 6rem;
  display: flex;
  margin: auto;
  cursor: pointer;
}

.latest{
  color: green;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 4rem 1.5rem 0;
}

@media (max-width: 788px){
  .landing-page{
    height: 60vh;
    background-image: url(/assets/images/blog/blog1.png);
    animation: change 60s infinite ease-in-out;
  }

  .welcome{
    width: 100%;
  }

  .down{
    display: none;
  }

  @keyframes change{
    0% {
      background-image: url(/assets/images/blog/blog2.png);
    }
    20% {
      background-image: url(/assets/images/blog/blog3.png);
    }
    40% {
      background-image: url(/assets/images/blog/blog4.png);
    }
    60% {
      background-image: url(/assets/images/blog/blog5.png);
    }
    80% {
      background-image: url(/assets/images/blog/blog6.png);
    }
  }
}