<div class="sidebar animate__animated animate__fadeInDown">
  <div class="content">
    <span>success</span>
    <ul class="list">
      <li [routerLink]="['/']" class="list-item">Home</li>
      <li [routerLink]="['/user']" class="list-item">Publish</li>
      <li (click)="search()" class="list-item">Search</li>
      <li (click)="auth()" class="list-item">{{login ? 'LogOut' : 'Login'}}</li>
    </ul>
    <span class="footer">rabbi</span>
  </div>
  <div class="transparent" (click)="sidebarToggle()"></div>
</div>