<div class="sidebar animate__animated animate__fadeInDown">
  <div class="content">
    <span>success</span>
    <ul class="list">
      <li [routerLink]="[admin ? '/admin' : '/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-item">Home</li>
      <li [routerLink]="[admin ? '/admin/all-posts' : '/user']" routerLinkActive="active" class="list-item">{{admin ? 'Posts' : 'Publish'}}</li>
      <li (click)="search()" class="list-item">Search</li>
      <li (click)="authenticate()" class="list-item">{{isLogin ? 'Logout' : 'Login'}}</li>
    </ul>
    <span class="footer">rabbi</span>
  </div>
  <div class="transparent" (click)="sidebarToggle()"></div>
</div>