<div class="search">
  <blog-header></blog-header>
  <div *ngIf="!loading && !result" class="not-found">
    <span>No result found</span>
    <button [routerLink]="admin ? '/admin' : '/'"><mat-icon class="circle-icon">navigate_before</mat-icon>back</button>
  </div>

  <div *ngIf="result" class="result">
    <p class="input">Search: <span>{{searchValue}}</span></p>
    <blog-post-card [postContent]="postContent"></blog-post-card>
    <blog-footer></blog-footer>
    <blog-scroll-to-top></blog-scroll-to-top>
  </div>
  <img *ngIf="loading" src="/assets/gif/loading.gif" alt="loading..." class="loader"/>
</div>