<div class="blog">
  <blog-header></blog-header>
  <div *ngFor="let content of preview ? previewData : readContent">
    <div class="image">
      <img [src]="preview ? previewImageUrl : content.bannerUrl" alt="img" class="url">
    </div>
    <div class="timestamp">
      <p class="publish">Published on - <span>{{content.publishedDate}}</span><small> by {{content.author}}</small></p>
      <p *ngIf="content.updatedDate" class="publish">updated on - <span>{{content.updatedDate}}</span></p>
    </div>
    <div class="post">
      <p class="title">{{content.title}}</p>
      <p>{{content.overview}}</p>
    </div>
  </div>

  <div *ngIf="!preview" class="read">
    <p class="more">Read More</p>
    <blog-blog-card [blogContent]="readMoreContent"></blog-blog-card>
  </div>
  <div *ngIf="preview" class="buttons">
    <button (click)="goBack()" class="back"><mat-icon>navigate_before</mat-icon>Back</button>
    <button (click)="writePost ? publishPost() : editPost()" class="publish-post" [ngClass]="!writePost ? 'edit-post' : ''">{{writePost ? 'Publish Post' : 'Edit Post'}}</button>
  </div>

  <blog-footer></blog-footer>
  <blog-scroll-to-top></blog-scroll-to-top>
</div>